USE [dpiasandpit]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isp_ScheduleTwos](
	[ScheduleTwoID] [int] IDENTITY(1,1) NOT NULL,
	[ScheduleTwoText] [nvarchar](100) NOT NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_isp_ScheduleTwos] PRIMARY KEY CLUSTERED 
(
	[ScheduleTwoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[isp_ScheduleTwos] ADD  DEFAULT ((1)) FOR [Active]
GO
