USE [dpiasandpit]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isp_FileGroups](
	[FileGroupID] [int] IDENTITY(1,1) NOT NULL,
	[GroupType] [nvarchar](20) NOT NULL,
	[ID] [int] NOT NULL,
 CONSTRAINT [PK_isp_FileGroups] PRIMARY KEY CLUSTERED 
(
	[FileGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[isp_FileGroups] ADD  CONSTRAINT [DF_isp_FileGroups_ID]  DEFAULT ((0)) FOR [ID]
GO
