USE [dpiasandpit]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[isp_OrgTypes](
	[OrgTypeID] [int] IDENTITY(1,1) NOT NULL,
	[OrgType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_isp_OrgTypes] PRIMARY KEY CLUSTERED 
(
	[OrgTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90) ON [PRIMARY]
) ON [PRIMARY]
GO
